.overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background: rgba(22, 22, 22, 0.24);
}

.modal {
    position: relative;
    padding: 40px;

    border-radius: 16px;
    background: var(--06);
}

.button {
    position: absolute;
    top: 12px;
    right: 12px;

    padding: 6px;

    svg {
        display: block;
    }
}

.image {
    display: block;
    margin: 0 auto 20px;
}

.text {
    font: var(--headline);
}
