.title {
    display: block;
    width: fit-content;
    margin-bottom: 11px;
    font: var(--text-1-semibold);
    cursor: pointer;
}

.input {
    width: 100%;
    padding: 8px 40px 8px 16px;

    font: var(--text-2-medium);

    outline: 0;
    border-radius: 50px;
    border: 2px solid var(--04);
    @media (max-width: 768px) {
        padding: 9.5px 40px 9.5px 16px;
    }
}

.wrapper {
    position: relative;
}

.button {
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    width: 40px;

    background: center  no-repeat url('../../../shared/assets/icons/cross.svg');
    border-radius: 0 50px 50px 0;
}

.error {
    position: absolute;

    font: var(--caption);
    color: var(--accent)
}
