.wrapper {
    display: flex;
    gap: 40px;
    margin-top: 44px;
    @media (max-width: 768px) {
        flex-direction: column;
        margin-top: 33px;
        gap: 32px;
    }
}

.loader {
    height: calc(100vh - var(--navbar-height) - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    display: block;
    margin-top: 10px;
    font: var(--headline);
    color: var(--accent);
}
