.wrapper {
    width: 100%;
    padding: 40px;

    border-radius: 16px;
    background: var(--06);
    @media (max-width: 768px) {
        padding: 28px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 420px;
    @media (max-width: 768px) {
        gap: 20px;
    }
}

.title {
    padding-bottom: 15px;
    margin-bottom: 24px;

    font: var(--title);

    border-bottom: 1px solid var(--04);
    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.buttonWrapper {
    margin-top: 8px;

    @media (max-width: 768px) {
        margin-top: 4px;
        button {
            width: 100%;
        }
    }
}

.error {
    position: absolute;
    font: var(--caption);
    color: var(--accent);
}

.loader {
    display: flex;
    justify-content: center;
    max-width: 170px;
    margin-top: 8px;
    @media (max-width: 768px) {
        max-width: none;
    }
}
