.button {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;

    font: var(--headline);
    color: var(--02);

    transition: 0.3s;

    svg {
        width: 28px;
        height: 28px;
        padding: 3.5px 7px 3.5px 0;
    }
    @media (max-width: 768px) {
        gap: 14px;
        margin-top: 13px;
        svg {
            width: 24px;
            height: 24px;
            padding: 0;
        }
    }
}
