.title {
    padding-bottom: 16px;
    margin: 40px 0 28px;

    color: var(--01);
    font: var(--title);

    border-bottom: 1px solid var(--04);
    @media (max-width: 768px) {
        margin: 32px 0 16px;
    }
}

.loader {
    text-align: center;
}
